body {
	color: hsla(215, 5%, 50%, 1);
  }
body.background{
	background: url(https://www.quiz-maker.com/images/blossom-01.svg) 100% 100%/cover;
}  
section {
	display: flex;
	flex-flow: column;
  }
  .dFlex > div {
	flex: 1;
	padding: 0.5rem;
  }
  input[type="radio"] {
	display: none;
  }

  label {
	height: 70%;
	display: block;
	background: white;
	border: 2px solid #F15F74;
	border-radius: 20px;
	padding: 1rem;
	margin-bottom: 0;
	text-align: center;
	box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
  }
  input[type="radio"]:checked + label {
	background: #F15F74;
	color: hsla(215, 0%, 100%, 1);
  }
  input[type="radio"]:checked + label ::after{
	color: hsla(215, 5%, 25%, 1);
	font-family: FontAwesome;
	border: 2px solid #F15F74;
	content: "\f00c";
	font-size: 24px;
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	background: white;
  }
  p {
	  font-size: 1.5em;
	font-weight: 900;
  }
  
  
  @media only screen and (max-width: 700px) {
	section {
	  flex-direction: column;
	}
  }
  .dFlex{
	  display: flex;
	  flex-direction: row;
	  margin-bottom: 65px;
  }
  .dLabel{
	  margin-bottom: 0;
	  padding: .75rem;
	  display: flex;
	  align-items: center;
	  justify-content: center;
  }
  .tCont{
	box-shadow: rgb(57 73 76 / 35%) 0 1px 6px 0;
    background: rgb(255 255 255/94%);
	padding: 2em;
	margin: 2em;
  }
  .tCont p{
	  color: #000;
	  font-size: 18px;
  }
  .fWrap{
	display: flex;
    width: 100%;
	margin-bottom: 25px;
  }
  .fWrap > div {
	flex: 1;
	padding: 0.5rem;
  }
  .pb-50{
	  padding-bottom: 50px;
	  display: flex;
  }

  /*

  snackbar
   */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 250px; /* Set a default minimum width */
	margin-left: -125px; /* Divide value of min-width by 2 */
	background-color: #333; /* Black background color */
	color: #fff; /* White text color */
	text-align: center; /* Centered text */
	border-radius: 2px; /* Rounded borders */
	padding: 16px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the snackbar */
	top: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
	visibility: visible; /* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
	from {top: 0; opacity: 0;}
	to {top: 30px; opacity: 1;}
}

@keyframes fadein {
	from {top: 0; opacity: 0;}
	to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
	from {top: 30px; opacity: 1;}
	to {top: 0; opacity: 0;}
}

@keyframes fadeout {
	from {top: 30px; opacity: 1;}
	to {top: 0; opacity: 0;}
}